<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />


    <link rel="stylesheet" href="{{ url_for('static', filename='css/flight_html.css') }}">


    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.0/dist/chart.min.js"></script>


    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/flightcovidAsk">Search for the high-risk states</a>
                </li>
            </ul>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times</span>
        </button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <main>
        {% block content %}
        <div class="dashboard">
            <div class="dashboard-header">
                <p>The search of the number of high-risk flights flying into a state in United States</p>
            </div>
            <div class="dashboard-card">
                <div class="card" id="card-1">
                    <div class="chart-forStateNum">
                        <h1 class="head1">The state number checklist</h1>
                        <table class="tabular">
                            {% for key, value in stateNum.items() %}
                            <tr>
                                <th> {{ key }} </th>
                                <td> {{ value }} </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>               
                <div class="card" id="card-2">
                    <div class="search-bar">
                        <form action="/flightcovidAsk" method="POST">
                            <h1 class="head1">Enter the state number and the high-risk infectionRate upper limit(0.5 ~ 1.5 usually) you think</h1>
                            <div class="form-box">
                                <input type="text" class="search-field state1"
                                       placeholder="The state number" name="stateNum" type="stateNum">
                            </div>
                            <div class="form-box">
                                <input type="text" class="search-field state2"
                                       placeholder="The high-risk infectionRate boundary" name="infectionRate" type="infectionRate">
                            </div>
                            <div class="form-box">
                                <button class="search-btn" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="chart-canvas">
                        <table class="tabular">
                            <tr>
                                <th>The state you are searching</th>
                                <th>The number of high-risk flight flying into this state recently</th>
                            </tr>
                            <tr>
                                <td>?</td>
                                <td>?</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>