{% extends "base.html" %}{% block title %}Safe Travels{% endblock %}
{% block content %}
<script src="../static/jquery-1.10.2.min.js"></script>
<script src="../static/raphael-min.js"></script>
<script src="../static/kartograph.js"></script>


<script type="text/javascript">
	$(function() {
		var map_cases = kartograph.map('#map_cases');
		var map_capita = kartograph.map('#map_capita');
		var map_rate = kartograph.map('#map_rate');
		var map_vac = kartograph.map('#map_vac');
		
		var cases = {
			"AK": 71291,
			"AL": 552650,
			"AR": 357473,
			"AZ": 900220,
			"CA": 3839640,
			"CO": 566144,
			"CT": 349215,
			"DE": 110093,
			"FL": 2357490,
			"GA": 1116470,
			"HI": 37025,
			"IA": 374358,
			"ID": 196207,
			"IL": 1400975,
			"IN": 760867,
			"KS": 322458,
			"KY": 467233,
			"LA": 489951,
			"MA": 711162,
			"MD": 463482,
			"ME": 69219,
			"MI": 1000363,
			"MN": 606577,
			"MO": 648934,
			"MS": 324853,
			"MT": 114433,
			"NC": 1015739,
			"ND": 110889,
			"NE": 225354,
			"NH": 99770,
			"NJ": 1026286,
			"NM": 206551,
			"NV": 339745,
			"NY": 2119207,
			"OH": 1114491,
			"OK": 461893,
			"OR": 210794,
			"PA": 1218886,
			"RI": 152819,
			"SC": 124641,
			"SD": 124641,
			"TN": 857933,
			"TX": 2973683,
			"UT": 420281,
			"VA": 682856,
			"VT": 24489,
			"WA": 458634,
			"WI": 678556,
			"WV": 164652,
			"WY": 63138
		};
			
		
		var case_density = {
				"AK": 6.9,
				"AL": 7.8,
				"AR": 26.7,
				"AZ": 8.9,
				"CA": 6.4,
				"CO": 8.3,
				"CT": 2.3,
				"DE": 3,
				"FL": 15.8,
				"GA": 7.3,
				"HI": 3.8,
				"IA": 2.3,
				"ID": 6.5,
				"IL": 4.9,
				"IN": 6.8,
				"KS": 12.1,
				"KY": 4.7,
				"LA": 22.7,
				"MA": 1.8,
				"MD": 1.5,
				"ME": 1.1,
				"MI": 2,
				"MN": 2.1,
				"MO": 22.3,
				"MS": 12.8,
				"MT": 6,
				"NC": 6.6,
				"ND": 2.1,
				"NE": 3.8,
				"NH": 2.3,
				"NJ": 3.2,
				"NM": 5.7,
				"NV": 23.1,
				"NY": 3.1,
				"OH": 2.4,
				"OK": 12.3,
				"OR": 4.9,
				"PA": 1.6,
				"RI": 3.1,
				"SC": 5.7,
				"SD": 1,
				"TN": 6.8,
				"TX": 6.8,
				"UT": 18.3,
				"VA": 2.8,
				"VT": 1.6,
				"WA": 7.8,
				"WI": 2.3,
				"WV": 3.8,
				"WY": 17.1				
				
		}
		
		
		
		var case_rate = {
				"AK": 1.14,
				"AL": 1.24,
				"AR": 1.29,
				"AZ": 1.07,
				"CA": 1.27,
				"CO": 1.04,
				"CT": 1.04,
				"DE": 1.1,
				"FL": 1.35,
				"GA": 1.28,
				"HI": 1.1,
				"IA": 1,
				"ID": 1.08,
				"IL": 1.24,
				"IN": 1.1,
				"KS": 1.32,
				"KY": 1.04,
				"LA": 1.32,
				"MA": 1.19,
				"MD": 1.13,
				"ME": 0.79,
				"MI": 0.96,
				"MN": 1.02,
				"MO": 1.15,
				"MS": 1.25,
				"MT": 1,
				"NC": 1.21,
				"ND": 0.94,
				"NE": 1.19,
				"NH": 1.03,
				"NJ": 1.06,
				"NM": 1.11,
				"NV": 1.14,
				"NY": 1.21,
				"OH": 1.01,
				"OK": 1.26,
				"OR": 0.94,
				"PA": 0.99,
				"RI": 1.09,
				"SC": 1.34,
				"SD": 0.74,
				"TN": 1.45,
				"TX": 1.1,
				"UT": 1.13,
				"VA": 1.13,
				"VT": 1.01,
				"WA": 1.06,
				"WI": 1.15,
				"WV": 0.99,
				"WY": 1.07					
		}
		

		var case_rate = {
				"AK": 1.14,
				"AL": 1.24,
				"AR": 1.29,
				"AZ": 1.07,
				"CA": 1.27,
				"CO": 1.04,
				"CT": 1.04,
				"DE": 1.1,
				"FL": 1.35,
				"GA": 1.28,
				"HI": 1.1,
				"IA": 1,
				"ID": 1.08,
				"IL": 1.24,
				"IN": 1.1,
				"KS": 1.32,
				"KY": 1.04,
				"LA": 1.32,
				"MA": 1.19,
				"MD": 1.13,
				"ME": 0.79,
				"MI": 0.96,
				"MN": 1.02,
				"MO": 1.15,
				"MS": 1.25,
				"MT": 1,
				"NC": 1.21,
				"ND": 0.94,
				"NE": 1.19,
				"NH": 1.03,
				"NJ": 1.06,
				"NM": 1.11,
				"NV": 1.14,
				"NY": 1.21,
				"OH": 1.01,
				"OK": 1.26,
				"OR": 0.94,
				"PA": 0.99,
				"RI": 1.09,
				"SC": 1.34,
				"SD": 0.74,
				"TN": 1.45,
				"TX": 1.1,
				"UT": 1.13,
				"VA": 1.13,
				"VT": 1.01,
				"WA": 1.06,
				"WI": 1.15,
				"WV": 0.99,
				"WY": 1.07					
		}

		var vac_rate = {
				"AK": 0.446,
				"AL": 0.333,
				"AR": 0.35,
				"AZ": 0.441,
				"CA": 0.511,
				"CO": 0.53,
				"CT": 0.618,
				"DE": 0.512,
				"FL": 0.471,
				"GA": 0.374,
				"HI": 0.526,
				"IA": 0.487,
				"ID": 0.367,
				"IL": 0.472,
				"IN": 0.432,
				"KS": 0.427,
				"KY": 0.444,
				"LA": 0.358,
				"MA": 0.627,
				"MD": 0.572,
				"ME": 0.624,
				"MI": 0.479,
				"MN": 0.527,
				"MO": 0.398,
				"MS": 0.334,
				"MT": 0.435,
				"NC": 0.426,
				"ND": 0.394,
				"NE": 0.484,
				"NH": 0.574,
				"NJ": 0.564,
				"NM": 0.557,
				"NV": 0.43,
				"NY": 0.554,
				"OH": 0.455,
				"OK": 0.391,
				"OR": 0.547,
				"PA": 0.507,
				"RI": 0.6,
				"SC": 0.395,
				"SD": 0.46,
				"TN": 0.381,
				"TX": 0.422,
				"UT": 0.381,
				"VA": 0.53,
				"VT": 0.665,
				"WA": 0.561,
				"WI": 0.507,
				"WV": 0.387,
				"WY": 0.357					
		}
		
		
		map_cases.loadMap('../static/usa.svg', function() {
			map_cases.addLayer('layer0', { key: 'data-key'}, {
				styles: {
					stroke: '#000000',
					fill: '#d03b1b'
				}
			});	
		
			var ratio = 0;
			

			map_cases.getLayer('layer0').style('fill', '#800000');
			map_cases.getLayer('layer0').style('opacity', function(d) {
				ratio = Math.log(cases[d.key])/Math.log(3839640);
				
				ratio = (ratio).toFixed(2);
				return ratio;
			});
		});

		map_capita.loadMap('../static/usa.svg', function() {
			map_capita.addLayer('layer0', { key: 'data-key'}, {
				styles: {
					stroke: '#000000',
					fill: '#d03b1b'
				}
			});	
		
			var ratio = 0;
			

			map_capita.getLayer('layer0').style('fill', '#800000');
			map_capita.getLayer('layer0').style('opacity', function(d) {
				ratio = case_density[d.key]/26.7;
				
				ratio = (ratio).toFixed(2);
				return ratio;
			});
		});


		map_rate.loadMap('../static/usa.svg', function() {
			map_rate.addLayer('layer0', { key: 'data-key'}, {
				styles: {
					stroke: '#000000',
					fill: '#d03b1b'
				}
			});	
		
			var ratio = 0;
			

			map_rate.getLayer('layer0').style('fill', '#800000');
			map_rate.getLayer('layer0').style('opacity', function(d) {
				ratio = case_rate[d.key]/1.45;
				
				ratio = (ratio).toFixed(2);
				return ratio;
			});
		});

		map_vac.loadMap('../static/usa.svg', function() {
			map_vac.addLayer('layer0', { key: 'data-key'}, {
				styles: {
					stroke: '#000000',
					fill: '#18ba43'
				}
			});	
		
			var ratio = 0;
			

			map_vac.getLayer('layer0').style('fill', '#18ba43');
			map_vac.getLayer('layer0').style('opacity', function(d) {
				ratio = vac_rate[d.key];
				
				ratio = (ratio).toFixed(2);
				return ratio;
			});
		});
		
	});

</script>
	
	<p style="font-size:35px;"> Cases </p><br>
	<div id="map_cases"></div>
	<p style="font-size:35px;">Legend</p><br>
	<p style="font-size:35px;">No risk to Highest Risk</p> <br>
	<img src="../static/legend.svg">
	
	<br><br><br>
	<p style="font-size:35px;">Cases Per 100,000 People</p> <br>
	<div id="map_capita"></div>
	<p style="font-size:35px;">Legend</p><br>
	<p style="font-size:35px;">Lowest cases per 100,000 people to highest cases per 100,000 people</p><br>
	<img src="../static/legend.svg">
	
	<br><br><br>
	<p style="font-size:35px;">Percentage of Population Infected</p> <br>
	<div id="map_rate"></div>
	<p style="font-size:35px;">Legend</p><br>
	<p style="font-size:35px;">Lowest Percentage to Highest Percentage</p><br>
	<img src="../static/legend.svg">	

	<br><br><br>
	<p style="font-size:35px;">Percentage of Population With Vaccine</p> <br>
	<div id="map_vac"></div>
	<p style="font-size:35px;">Legend</p><br>
	<p style="font-size:35px;">No risk to Highest Risk</p><br>
	<img src="../static/legend_green.svg">	
	
	

{% endblock %}