{% extends "base.html" %}

{% block title %}{{ in_state.capitalize() }}{% endblock %}

{% block content %}
<div class="dashboard">  
    <div class="dashboard-header">
        <p>{{ in_state.title() }}</p>
    </div>
    <div class="dashboard-card">
        <div class="card" id="card-1">
            <div class="chart-canvas">
                <canvas id="lineChart1"></canvas>
            </div>
        </div>
        <div class="card" id="card-2">
            <div class="chart-canvas">
                <canvas id="lineChart2"></canvas>
            </div>
        </div>
        <div class="card" id="card-3">
            <div class="chart-canvas">
                <table class="tabular">
                    <tr>
                        {% for header in headings %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>{{ in_state.title() }}</td>
                        <td>{{ case_numbers }}</td>
                        <td>{{ deaths }}</td>
                        <td>{{ vaccine }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card" id="card-4">
            <div class="chart-canvas">

            </div>
        </div>
    </div>
</div>

<script>
    let vaccineMetrics = JSON.parse({{ vaccine_metrics | tojson }});
    let graph_dates = JSON.parse({{ dates | tojson }});
    let infections = JSON.parse({{ infection_rate | tojson }});
    const ctx1 = document.getElementById("lineChart1").getContext("2d");
    const lineChart1 = new Chart(ctx1, {
        type: "line",
        data: {
            labels: graph_dates,
            datasets: [
                {
                    label: "% Fully Vaccinated",
                    data: vaccineMetrics,
                    fill: false,
                    borderColor: "rgb(211, 42, 153)",
                    lineTension: 0.3
                },
                {
                    label: "Another data set"
                }
            ]
        },
    });

    const ctx2 = document.getElementById("lineChart2").getContext("2d");
        const lineChart2 = new Chart(ctx2, {
            type: "line",
            data: {
                labels: graph_dates,
                datasets: [
                    {
                        label: "Infection Rate",
                        data: infections,
                        fill: false,
                        borderColor: "rgb(211, 42, 153)",
                        lineTension: 0.3
                    }
                ]
            }
        });
</script>
{% endblock %}